<div class="container">
    <mat-grid-list cols="4" rowHeight="fit" colHeight="fit" gutterSize="10px" style="height: 700px">

        <mat-grid-tile rowspan="1" colspan="4" >
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <mat-progress-spinner mode="indeterminate" color="warn" *ngIf="isLoading"></mat-progress-spinner>
            </div>
            <div *ngIf="!isLoading">
                <table mat-table class="mat-elevation-z8 bg-theme text-theme tableStripe w-100" [dataSource]="festivals">
                    <!-- Id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let festival">
                            <div *ngIf="festival.id" title="{{festival.id}}"> {{festival.id}} </div>
                        </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> NOM </th>
                        <td mat-cell *matCellDef="let festival">
                            <div *ngIf="festival.name" title="{{festival.name}}"> {{festival.name}} </div>
                        </td>
                    </ng-container>
                    <!-- Descirption Column -->
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> DESCRIPTION </th>
                        <td mat-cell *matCellDef="let festival">
                            <div *ngIf="festival.description" title="{{festival.description}}"> {{festival.description}} </div>
                        </td>
                    </ng-container>
                    <!-- Type Column -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> TYPE </th>
                        <td mat-cell *matCellDef="let festival">
                            <div *ngIf="festival.type" title="{{festival.type}}"> {{festival.type}} </div>
                        </td>
                    </ng-container>
                    <!-- Image Column -->
                    <ng-container matColumnDef="image">
                        <th mat-header-cell *matHeaderCellDef> IMAGE </th>
                        <td mat-cell *matCellDef="let festival">
                            <div *ngIf="festival.image" title="{{festival.image}}"> {{festival.image}} </div>
                        </td>
                    </ng-container>
                    <!-- Date start Column -->
                    <ng-container matColumnDef="date_start">
                        <th mat-header-cell *matHeaderCellDef> DEBUT </th>
                        <td mat-cell *matCellDef="let festival">
                            <div *ngIf="festival.date_start" title="{{festival.date_start}}"> {{festival.date_start|date: 'dd/MM/YYYY HH:mm'}} </div>
                        </td>
                    </ng-container>
                    <!-- Date end Column -->
                    <ng-container matColumnDef="date_end">
                        <th mat-header-cell *matHeaderCellDef> FIN </th>
                        <td mat-cell *matCellDef="let festival">
                            <div *ngIf="festival.date_end" title="{{festival.date_end}}"> {{festival.date_end|date: 'dd/MM/YYYY HH:mm'}} </div>
                        </td>
                    </ng-container>
                    <!-- Cancelled Column -->
                    <ng-container matColumnDef="cancelled">
                        <th mat-header-cell *matHeaderCellDef> ANNULE </th>
                        <td mat-cell *matCellDef="let festival">
                            <div *ngIf="festival.cancelled; else non" title="{{festival.cancelled}}"> 
                                OUI
                            </div>
                            <ng-template #non> NON </ng-template>
                        </td>
                    </ng-container>
                    <!-- Color Column -->
                    <ng-container matColumnDef="color">
                        <th mat-header-cell *matHeaderCellDef> COULEUR </th>
                        <td mat-cell *matCellDef="let festival">
                            <div *ngIf="festival.color" title="{{festival.color}}"  id="cercle" [style.background]="festival.color"></div>
                        </td>
                    </ng-container>
                    <!-- Options Column -->
                    <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef class="text-end">
                            <td mat-cell *matCellDef="let festivals" class="text-end">
                            <a (click)="updateDialog(festivals.id, festivals.name, festivals.description, festivals.type, festivals.image, festivals.date_start, festivals.date_end, festivals.cancelled, festivals.color)">
                                <mat-icon> border_color </mat-icon>
                            </a>
                            <a (click)="deleteDialog(festivals.id, festivals.name)">
                                <mat-icon>delete</mat-icon>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" class="bg-theme text-theme"></mat-paginator>
            </div>
            <div class="margin-button" fxLayoutAlign="end">
              <button class="color-text-button-red" mat-flat-button color="warn" (click)="newDialog()">Créer un festival</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
