<div fxLayout="row" fxLayoutAlign="center">
    <mat-form-field appearance="outline" class="searchBar">
        <mat-label>Rechercher un utilisateur, un festival... (script pas migré)</mat-label>
        <input matInput>
    </mat-form-field>
</div>

<section>
    <div fxLayout="row" fxLayoutAlign="center" class="example-button-row">
        <button mat-flat-button color="warn" class="color-text-button-red" [routerLink]="['user']">UTILISATEURS</button>
        <button mat-flat-button color="warn" class="color-text-button-red" [routerLink]="['festival']">FESTIVALS</button>
        <button mat-flat-button color="warn" class="color-text-button-red" [routerLink]="['tag']">TAGS</button>
        <button mat-flat-button color="warn" class="color-text-button-red" [routerLink]="['place']">PLACES</button>
    </div>
</section>

<router-outlet></router-outlet>
