<div fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-progress-spinner mode="indeterminate" color="warn" *ngIf="isLoading" ></mat-progress-spinner>
</div>


<div *ngIf="!isLoading">
    <div class="container">
        <form [formGroup]=" updatePlaceForm" (ngSubmit)="UpdatePlace()">

            <h3>Editer un lieu</h3>
            <div>
                <div fxLayout="column" fxLayoutAlign="center center">
                <div *ngIf="err" class="text-warn">
                    {{ err.name }}
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>
                      Nom du lieu
                        <span *ngIf="updatePlaceForm.controls['name'].hasError('required')">
                            *
                        </span>
                    </mat-label>
                    <input matInput placeholder="{{ data.name }}" formControlName="name">
                    <mat-error [hidden]=" updatePlaceForm.controls['name'].untouched || updatePlaceForm.controls['name'].valid">
                        Veuillez renseigner le nom du lieu
                    </mat-error>
                </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>
                    Lattitude
                    <span *ngIf=" updatePlaceForm.controls['lat'].hasError('required')">
                        *
                    </span>
                </mat-label>
                <input matInput placeholder="{{ data.lat }}" formControlName="lat">
                <mat-error [hidden]=" updatePlaceForm.controls['lat'].untouched ||  updatePlaceForm.controls['lat'].valid">
                    Veuillez renseigner la lattitude
                </mat-error>
            </mat-form-field>

           <mat-form-field appearance="outline">
              <mat-label>
                  Longitude
                  <span *ngIf=" updatePlaceForm.controls['lng'].hasError('required')">
                      *
                  </span>
              </mat-label>
              <input matInput placeholder="{{ data.lng }}" formControlName="lng">
              <mat-error [hidden]=" updatePlaceForm.controls['lng'].untouched ||  updatePlaceForm.controls['lng'].valid">
                  Veuillez renseigner la longitude du lieu
              </mat-error>
          </mat-form-field>

        </div>

        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button color="warn" type="submit" [disabled]="updatePlaceForm.invalid" >Valider</button>
            <button mat-button mat-dialog-close class="button-close">Annuler</button>
        </div>
        </form>
      
    </div>
</div>
