<div class="container">
    <form [formGroup]=" modifyPassForm" (ngSubmit)="modifyPassword()">

        <h3 class="text-center small-container">Changer votre mot de passe</h3>
        <div fxLayout="column" fxLayoutAlign="center center">
            <div *ngIf="err" class="text-warn">
                {{ err.oldPassword }}
            </div>
            <mat-form-field appearance="outline">
                <mat-label>
                    Ancien mot de passe
                    <span *ngIf="modifyPassForm.controls['oldPassword'].hasError('required')">
                        *
                    </span>
                </mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" id="oldPassword" formControlName="oldPassword">
              <mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-icon-button>
                <mat-error [hidden]=" modifyPassForm.controls['oldPassword'].untouched || modifyPassForm.controls['oldPassword'].valid">
                    Veuillez saisir votre ancien mot de passe
                </mat-error>
            </mat-form-field>

            <div *ngIf="err" class="text-warn">
                {{ err.newPassword }}
            </div>
            <div [hidden]="modifyPassForm.controls['newPassword'].valid">

                <div *ngIf="modifyPassForm.controls['newPassword'].hasError('minlength'); else second" class="text-warn">
                    Veuillez saisir un nom avec au moins {{ minlength }} caractères
                </div>
                <ng-template #second>
                    <div *ngIf="modifyPassForm.controls['newPassword'].touched; else third"  class="text-warn">
                        Veuillez saisir un nouveau mot de passe valide
                    </div>
                </ng-template>
                <ng-template #third></ng-template>
            </div>
            <mat-form-field appearance="outline" required>
                <mat-label>
                    Nouveau mot de passe
                    <span *ngIf="modifyPassForm.controls['newPassword'].hasError('required') || modifyPassForm.controls['newPassword'].hasError('minlength')">
                        *
                    </span>
                </mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" id="newPassword" formControlName="newPassword" (input)="onRegex(modifyPassForm.controls['newPassword'].value)">
              <mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-icon-button>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>
                    Répétez le nouveau mot de passe
                    <span *ngIf="modifyPassForm.controls['confirmPassword'].hasError('required')">
                        *
                    </span>
                </mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" id="confirmPassword" formControlName="confirmPassword">
              <mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-icon-button>
                <mat-error [hidden]="modifyPassForm.controls['confirmPassword'].untouched || modifyPassForm.controls['confirmPassword'].valid">
                    Veuillez répéter votre nouveau mot de passe
                </mat-error>
            </mat-form-field>

            <div class="regex">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div id="min" class="bubble"></div>
                    <div>Le mot de passe doit contenir au moins une minuscule</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div id="maj" class="bubble"></div>
                    <div>Le mot de passe doit contenir au moins une majuscule</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div id="num" class="bubble"></div>
                    <div>Le mot de passe doit contenir au moins un chiffre</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div id="spec" class="bubble"></div>
                    <div>Le mot de passe doit contenir au moins un caractère spécial</div>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button color="warn" type="submit" [disabled]="modifyPassForm.invalid" >Valider</button>
            <button mat-button mat-dialog-close class="button-close">Annuler</button>
        </div>

    </form>

</div>
