<section class="container">
    <h1 class="text-center">Liste des Festivals/Festivaux</h1>

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <mat-progress-spinner mode="indeterminate" color="warn" *ngIf="isLoading"></mat-progress-spinner>
    </div>

    <div *ngIf="!isLoading" class="festival-list">
        <mat-grid-list cols="3" rowHeight="fit" colHeight="fit" style="height: 600px" gutterSize="10px" >
            <mat-grid-tile rowspan="1" colspan="1" *ngFor="let festival of festivals">
                <mat-card class="festival-card" [ngStyle]="myStyle(festival.color)">
                    <div class="inner-festival-card">
                        <div class="festival_name" [ngStyle]="myStyleColor(festival.color)">{{ festival.name|titlecase }}</div>
                        <div class="festival_type">Genre : {{ festival.type|titlecase }}</div>
                        <div class="festival_description">{{ festival.description }}</div>
                        <div class="festival_date">
                            <div>les dates</div>
                            <span [ngStyle]="myStyleColor(festival.color)">Du {{ festival.dateStart|date: 'dd/MM/YYYY' }} à {{ festival.dateStart|date: 'HH:mm' }}</span> 
                            au 
                            <span [ngStyle]="myStyleColor(festival.color)">{{ festival.dateEnd|date: 'dd/MM/YYYY' }} à {{ festival.dateEnd|date: 'HH:mm' }}</span>
                        </div>
                    </div>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</section>